.Photos {
  position: fixed;
  z-index: 500;
  background-color: white;
  /* width: 90%; */
  height: 90%;
  border: 10px solid #ccc;
  box-shadow: 1px 1px 1px black;
  padding: 16px;
  left: 5%;
  top: 5%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  
}

@media (min-width: 600px) {
  .Photo {
    width: 500px;
    left: calc(50% - 250px);
  }
}

.customOverlay {
  background: rgba(36, 123, 160, 0.7);
}
.customModal {
  background: #b2dbbf;
  max-width: 500px;
  width: 100%;
}














