.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.box {
  flex-shrink: 3;
  /* align-items: flex-start; */
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: 60px;
}



.masonry {
  columns: 4;
  column-gap: 16px;
}
@media (max-width: 1200px) {
  .masonry {
    columns: 3;
  }
}
@media (max-width: 992px) {
  .masonry {
    columns: 2;
  }
}
.masonry .grid {
  display: inline-block;
  margin-bottom: 16px;
  position: relative;
}
.masonry .grid:before {
  border-radius: 5px;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
.masonry .grid img {
  width: 100%;
  border-radius: 5px;
}
.masonry .grid__title {
  font-size: 28px;
  font-weight: bold;
  margin: 0px 0px 10px 0px;
}
.masonry .grid__author {
  font-size: 14px;
  font-weight: 300;
}
.masonry .grid__link {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.masonry .grid__body {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 30px 30px;
  color: #fff;
  display: flex;
  flex-direction: column;
}
.masonry .grid__tag {
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  border-radius: 5px;
  padding: 5px 15px;
  margin-bottom: 5px;
}
.mt-auto {
  margin-top: auto;
}



