body {
  margin: 10px 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Adobe Garamond', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(
    to right bottom,
    rgba(13, 32, 9, 0.25),
    rgba(40, 180, 133, 0.25) 
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Nice Green
background-image: linear-gradient(
  to right bottom,
  rgba(13, 32, 9, 0.25),
  rgba(40, 180, 133, 0.25) */

/* candy floss
  background-image: linear-gradient(
    to right bottom,
    rgba(248, 4, 4, 0.25),
    rgba(40, 180, 133, 0.25)
  );
   */






   